.social {
  &__list {
    margin-top: 2.4rem;
    display: flex;
    gap: 0.8rem;
  }

  &__link {
    &:link,
    &:visited {
      width: 2.4rem;
      height: 2.4rem;
      background-color: #b28e6a;
      border-radius: 50%;
      color: $bg-color;
      padding: 1.6rem;
      transition: all 0.3s ease;
    }

    &:hover,
    &:active {
      background-color: #534930;
    }
  }

  &--header {
    &.social__list {
      gap: 0;
    }
    & .social__link {
      color: $secondary-color;
      background-color: transparent;
    }
  }
}
