$color-primary: #534930;

$color-secondary: #b28e6a;
$color-secondary-dark: #7d634a;
$color-secondary-gray: #535353;

$color-tertiary: #faf4ed;
$color-tertiary-gray: #a3a3a3;

$color-grey-light: #f7f7f7;
$color-grey-dark: #333;

$color-white: #fff;
$color-black: #000;

// Font
$default-font-size: 1.6rem;
