@import './variables';
@import './mixins';

a{
    text-decoration: none;
    color: $secondary-gray !important;
}

.bg-color{
    background-color: #ffffff;
}

.nav-item{
    padding: 0px 1em;
}

li{
    text-decoration: none;
}

#black{
    color: $text-primary-color;
}

.nav-item{
    padding: 0px 1.45em;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1.5em;
}

.profile-circle{
    width: 2.2em;
    height: 2.2em;
    background-color: $secondary-color;
    border-radius: 50%;
    // padding: 1.2em;
    margin-left: 1.45em;
}