@import './variables';
@import './fonts';

@mixin bg-color{
    background-color: $bg-color;
}

@mixin font-primary-400{
    color: $text-primary-color;
    font-family: $font-primary !important;
    font-weight: 500 !important;
}