$primary-color: #534930;

$secondary-color: #B28E6A;

$tertiary-color: #FAF4ED;

$quaternary-color: #ffffff;

$primary-black: #000000;

$secondary-gray: #535353;

$tertiary-gray: #A3A3A3;

$text-primary-color: #000000;

$text-secondary-color: #534930;

$text-hover-color: #B28E6A;

$bg-color: #F7F7F7;