@import './variables';
@import './mixins';

a{
    text-decoration: none;
    color: $secondary-gray !important;
}

.bg-color{
    background-color: #ffffff;
}

li{
    text-decoration: none;
}

.navbar{
    background-color: $tertiary-color;
    .container-fluid{
        max-width: 1590px;;
    }
}

.navbar-brand{
    padding: 0px;
}

.logo-container{
    padding-right: 3em !important;
    margin: 0;


    img{
        max-width: 100%;
        height: auto;
    } 

}

.nav-link{
    box-sizing: border-box;
    margin-right: 2.5em;
    svg{
        fill: $secondary-gray;
    }
}

.circle{
    width: 2.2em;
    height: 2.2em;
    background-color: $primary-color;
    border-radius: 50%;
    margin-left: 1.45em;
}

footer{
    background-color: $bg-color;
    padding-top: 4em;
    padding-bottom: 2em;
}

.footer-menu{
    text-align: left;
    @include d-flex-center;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    a{
        color: black !important;
        font-weight: 400;
        font-size: 20px;
        text-decoration: none;
        margin-bottom: 0.75em;
    }
}

.footer-title{
    font-family: $font-secondary;
    h2{
        font-size: 26px;
        color: $primary-color;
        margin-bottom: 1em;
    }
    h2::before{
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        width: 40px;
        height: 2.5px;
        background-color: $primary-color;
    }
}

.social-icon {
    a {
        width: 2em;
        height: 2em;
        background-color: #B28E6A;
        border-radius: 50%;
        margin-right: 6px;
        color: #ffffff !important;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
    }

    a:hover {
        background-color: #534930;
    }
}

.footer-contact{
    ul{
        padding-left: 0;
        li{
            i{
                width: 1.8em;
                height: 1.8em;
                background-color: #B28E6A;
                border-radius: 50%;
                margin-right: 6px;
                color: #ffffff !important;
                text-decoration: none;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                transition: all 0.3s ease;
            }
            i:hover{
                background-color: #534930;
            }
            list-style: none;
            a{
                color: black !important;
                font-weight: 400;
                font-size: 22px;
                text-decoration: none;
            }
        }
    }
}