$primary-color: #534930;
$text-secondary-color: #534930;

$secondary-color: #b28e6a;
$text-hover-color: #b28e6a;
$color-secondary-dark: #7d634a;
$secondary-gray: #535353;

$tertiary-color: #faf4ed;
$tertiary-gray: #a3a3a3;

$bg-color: #f7f7f7;
$color-grey-dark: #333;

$quaternary-color: #fff;
$primary-black: #000;
$text-primary-color: #000;

// Font
$default-font-size: 1.6rem;
