@import "../../../assets/Sass/_variables.scss";
@import "../../../assets/Sass/_fonts.scss";
@import "../../../assets/Sass/mixins";
@import "./_blog-content.scss";

body{
    background-color: $quaternary-color;
}

p{
    font-family: $font-secondary;
    font-size: 1.125rem;
    line-height: 1.375rem;
}